{% extends 'base.html.twig' %}

{% block title 'About Us | ' ~ parent() %}

{% block body %}
    <img 
        src="{{ asset('/img/honore.jpeg') }}"
        alt="Honoré Hounwanou"
        class="mt-12 h-32 rounded-full shadow-lg mx-auto"
    >

    <h1 class="mt-5 text-lg text-gray-800">
        Built with <span class="text-red-600">&hearts;</span> by 
        <a 
            href="https://honore-h.com"
            class="text-indigo-500 hover:text-indigo-600 underline"
        >Honoré</a>.
    </h1>

    <p class="mt-5">
        <a 
            href="{{ path('app_home') }}"
            class="text-indigo-500 hover:text-indigo-600 underline"
        >
            Revenir à la page d'accueil
        </a>
    </p>
{% endblock %}
