{% extends 'base.html.twig' %}

{% block body %}
  <h1>
    Built with &hearts;
    by <a href="https://honore-h.com">Honoré</a>.
  </h1>
  <p>
    <a href="{{ path('app_home') }}">Revenir à la page d'accueil</a>
  </p>
{% endblock %}
